/*To do, more fonts, change colours*/

/*Navbar modding*/
nav{
   position:fixed;
   width:100%;  
   top: 0; 
   z-index:1;
   background: #020204;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
    width:auto;
  }

nav ul li{
    display:block;
    text-align: center;
    font-size:1.2em;
    width:100%;
}
nav ul li:hover{
    text-decoration:none; 
    
}

nav ul li a{
    text-decoration: none;
    display:block;
    color:#80CE87;
    margin:5px;
    font-family: Acme;
}
nav ul li a:hover{
    color:#F5F5F5;
    text-decoration:none;
    display:block; 
    background: #204829;
    transition: 0.5s;  
}
nav ul li a:active{color:#F5F5F5;}

/*Colour that drenches and overwhelms the foreground*/
body{
   background:#F5F5F5;
}



.headerImage{
    min-width: 100%;
}

.headerText{
    position:absolute;
    top:40%;
    left:35%;
    padding:50px;
    color:#22B455;
    border:8px solid #22B455;
    font-size:60px;
    font-weight: 1000;
    font-family: Raleway;
}

/*Making sure pictures are never bigger than page*/
img{
    max-width:100%;
}

.spacer{margin:50px;}

/*Mods for Gallery Stuff*/
.slideLeader{background:#020204; color:#22B455; font-weight: 1000; font-family: Raleway; padding:10px; box-sizing: border-box; border-radius:20%;}
.greendash{border:5px dashed #80CE87; margin:10px 0px;}
.greendash2{border:5px dashed #020204; margin:10px 0px; background:#020204;}
.galleria{margin:0px; padding:0px;}
.galleriaSection{}
.galleriaImage{}
.galleriaCaption{padding:20px; background:#F5F5F5; color:black; font-size:1em;}
.galleriaMiniSectionA{display:inline-block; padding:2px; }
.galleriaMiniSectionA:hover{border:5px solid #80CE87;}
.galleriaMiniSectionB{ display:inline-block; padding:1px; }
.galleriaMiniSectionB:hover{border:5px solid #80CE87;}
.galleriaMiniSectionC{ display:inline-block; padding:1px; }
.galleriaMiniSectionC:hover{border:5px solid #80CE87;}
.galleriaMiniSectionD{ display:inline-block; padding:1px; }
.galleriaMiniSectionD:hover{border:5px solid #80CE87;}
.galleriaMiniSectionE{ display:inline-block; padding:1px; }
.galleriaMiniSectionE:hover{border:5px solid #80CE87;}
.galleriaMiniSectionF{ display:inline-block; padding:1px; }
.galleriaMiniSectionF:hover{border:5px solid #80CE87;}


.nonLeading{display:none;}

/*Mods for large sections in general*/
.primeContent{padding:10px 50px 20px 50px;}
.darkContent{background:#020403; color:#22B455;}
.brightContent{background:#F5F5F5; color:#020204;}

/*Mods for clusterBox containers */
.clusterBox{padding:20px;} 
.clusterBox p{text-align: justify;}
.quickBrightEmphasis{font-weight: 900; font-style: italic;}

/*Mods for 'context' section*/
.contextCard{margin:10px 0px; text-align:justify; }
.contextCardMini{border:2px solid gray; padding:10px;}
.contextBlurb{margin: 20px 5px; }
.contextLink{
    padding:0px;
    font-family: Acme;
    text-align: center;
    color:#80CE87;
    background-color: #020204;
    width:100%;
}
.contextLink :hover{
    background-color:  #204829;
    transition: 0.5s;
}
.contextLink a{
    padding:10px;
    width:100%;
    font-size: 1.2em;
    text-decoration: none;
    color:#22B455;
}

a{
 color:#F5F5F5;
 display: block;
 text-decoration:none;   
}
a:hover{
 color:#22B455;
 text-decoration:none;   
}

button{
    border:none;
}

.imageMegabox img{
    display:block;
    padding:0px;
    border:1px solid gray;
    box-sizing: border-box;
}

h1{text-align:center; font-family:Acme; font-size: 3em;}
h2{text-align: center; font-family:Acme; }

h4{text-align: center; font-family:Acme;}
h5{text-align:center; font-family:Raleway;  font-style:italic;    font-weight: 200;}

p{font-family: Raleway; font-size: 12pt;}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 70%;               
    background-color:gray;
    height: 1px;
 
  }